{% extends 'Base.html' %}
{% load static %}
{% block Body %}
    <div class="Circle"></div>
    <section class="Board">
        <div class="Full">
            <h1 class="Choose" data-id="1"> <span>H</span>uman <span>R</span>esources <span>W</span>ebSite </h1>
            <h1 class="Choose" data-id="2"> <span>S</span>tudent <span>A</span>ffairs <span>W</span>ebSite </h1>
            <h1 class="Choose" data-id="3"> <span>H</span>igher <span>S</span>tudies <span>W</span>ebSite </h1>
            <h1 class="Choose" data-id="4"> <span>L</span>aboratory <span>T</span>racking <span>W</span>ebSite </h1>
        </div>
    </section>
{% endblock %}