{% extends 'Base.html' %}
{% load static %}
{% block Body %}
    <section class="Two">
        <div class="Half">
            <img src="{% static 'image.jpg' %}">
        </div>
        <div class="Half">
            <form method="post">
                {% csrf_token %}
                <label> Username </label>
                <input type="text" name="Username" required>
                <label> Old Password </label>
                <input name="Oldpass" type="password"  required>
                <label> New Passwprd </label>
                <input name="Newpass" type="password" required>
                <label> Re New Passwprd </label>
                <input name="Renewpass" type="password" required>
                <input type="submit" value="Update">
            </form>
        </div>
    </section>
{% endblock %}