{% extends 'Header.html' %}
{% block CssFiles %}
<link rel="stylesheet" href="{{ url_for('static' , filename='css/Forget-Remove.css') }}">
{% endblock %}
{% block MNav %}
<!---->
{% endblock %}
{% block HRNav %}
<!---->
{% endblock %}
{% block Body%}
<section class="Container">
    <div class="Father">
        <form method="POST" action="{{ url_for('ForgetPassword') }}">
            <div>
                <label for="Email"> Enter Your Email </label>
                <input type="email" id="Eamil" placeholder="Write The Eamil">
            </div>
            <hr>
            <input type="submit" value="Send">
        </form>
    </div>
</section>
{% endblock %}
