{% extends 'Header.html' %}
{% block CssFiles%}
<link rel="stylesheet" href="{{ url_for('static' , filename='css/Show.css') }}">
{% endblock %}
{% block HRNav %}
<!---->
{% endblock %}
{% block Body %}
<section class="Container">
    <div class="Father">
        <table>
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Name </th>
                    <th> Start Date  </th>
                    <th> End Date </th>
                    <th> Reason </th>
                    <th> Appovement </th>
                </tr>
            </thead>
            <tbody>
                {% for Row in Data%}
                    <td>
                        {% for Value in Row %}
                            <th> {{ Value }} </th>
                        {% endfor %}
                        <th>
                            <button value=""> Reject </button>
                        </th>
                        <th>
                            <button value=""> Appove </button>
                        </th>
                    </td>   
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</section>
{% endblock %}
